{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>Your Purchased Books</h3>

<ul>
    {% for item in purchasedBooks %}
        <li>
            <a href="{% url 'book_detail' item.book.id %}">{{ item.book.title }}</a> - Purchased {{ item.count }} times
            <!-- Add Remove button -->
            <form action="{% url 'remove_purchased_book' item.book.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        </li>
    {% empty %}
        <li>You have not purchased any books yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'books' %}"><button>Back to Books</button></a>

{% endblock %}
